<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>Member Sitting App</title>
        <link href="resources/css/Search.css" rel="stylesheet" type="text/css"/>
        <script src="resources/js/jquery.min.js" type="text/javascript"></script>
        <script src="resources/js/moment.min.js" type="text/javascript"></script>
        <script src="resources/js/common.js" type="text/javascript"></script>
        <script src="resources/SpryAssets/SpryAccordion.js" type="text/javascript"></script>
        <link href="resources/SpryAssets/SpryAccordion.css" rel="stylesheet" type="text/css">
            <script>
                //var Accordion1 = new Spry.Widget.Accordion("Accordion1");;
                $(document).ready(function () {
                                  $.ajaxSetup({ cache: false });
                                  
                                  var myScroll;
                                  var SITE_URL = "http://202.123.27.106/";
                                  var myURL = SITE_URL+"mnaservices2/webservice/webservice_publication_ios.php?encode=json&&method=publication&&publisherId=7";
                                  $.ajax({
                                         url: myURL,
                                         type: 'GET',
                                         data: {},
                                         processData: true,
                                         dataType: 'json',
                                         success: function (data) {
                                         $("#info").attr("json", JSON.stringify(data));
                                         var str="<option value='0'>Agenda</option>";
                                         //var slotValues='pubtype@@@{"0" : "Agenda", ';
                                         $.each(data, function (key) {
                                                //slotValues+= "\"" + data[key].Id + "\"" + " : " + "\"" + data[key].Name + "\""+ ", ";
                                                str+="<option value=\""+data[key].Id+"\">"+data[key].Name+"</option>";
                                                });
                                         $('.FindBox').append(str);
                                         var now = new Date;
                                         
                                         $('.FromBox').text(moment(now).format('DD-MMM-YYYY'));
                                         $('.ToBox').text(moment(now).format('DD-MMM-YYYY'));
                                         /*$('.FromBox,.ToBox').bind('click', function () {
                                                                   doClick($(this).attr("class"));
                                                                   });*/
                                         }
                                         });
                                  
                                  })
                
                function showWheelPub() {
                    var a = "{" + $("#info").attr("slot") + "}"
                    var slotValues = $.parseJSON(a);
                }
                
                function searchClick() {
                    
                    if ($("#searchtxt").val() != "") {
                        //alert(moment($('.FromBox').text()).format('DD-MMM-YYYY'));
                        
                        var SITE_URL = "http://202.123.27.106/"
                        var searchString =SITE_URL + "mna-app2/searchPdfFiles.do?publicationId=" + $('.FindBox :selected').val() + "&startDate=" + moment($('.FromBox').text()).format("YYYYMMDD") + "&endDate=" + moment($('.ToBox').text()).format("YYYYMMDD") + "&searchStr=" + $("#searchtxt").val();
                        
                       
                        doClick('search@@@'+searchString);
                        
                    } else {
                        alert("Please type a search term in the search text box")
                    }
                }
                
                function triggerClick(e){
                    var keynum
                    // For Internet Explorer
                    if (window.event)
                    {
                        keynum = e.keyCode
                        
                    }
                    // For Netscape/Firefox/Opera
                    else if (e.which)
                    {
                        keynum = e.which
                    }
                    if(keynum==13)
                    {
                        $("#searchbtn").trigger("click");
                    }
                }
                
                function search(url) {
                    
                    $.ajax({
                           url: url,
                           type: 'GET',
                           data: {},
                           processData: true,
                           dataType: 'json',
                           success: function (data) {
                           loadData(data)
                           }
                           });
                }
                /*
                function loadData(data) {
                     var str="";
                    
                    var m = { 1: 'JAN', 2: 'FEB', 3: 'MAR', 4: 'APR', 5: 'MAY', 6: 'JUN', 7: 'JUL', 8: 'AUG', 9: 'SEP', 10: 'OCT', 11: 'NOV', 12: 'DEC' };
                    var d = new Date();
                    var counter=1;
                    $.each(data, function(key,val){
                           $.each(val, function(key1,val1){
                                  // style='background-color:#FFC;
                                  // var d = moment(val1[0].date);
                                  date = moment(val1[0].date, "YYYYMMDD");
                                  str +="<div class='AccordionPanel'>";
                                  str +="<div class='AccordionPanelTab'>"+val1[0].title+" <span class='resultsfoundtxt'>("+val1.length+" Results Found)</span><div class='CalendarWrapper'>";
                                  str +="<div class='SCalyear'>"+date.year()+"</div><div class='SCaldate'>"+date.date()+"</div><div class='SCalmonth'>"+m[date._d.getMonth()]+"</div></div></div>";
                                  str +="<div class='AccordionPanelContent'>";
                                  $.each(val1, function(key2,val2){
                                         
                                         var pdfPath = val2.path;
                                         var x = pdfPath.split("\\");
                                         var pdfName = x[x.length - 1];
                                         var date = val2.date;
                                         date = moment(date, "YYYYMMDD");
                                         var uploadId = val2.ID;
                                         str +='<div id="searchresult" class="searchresult" onclick="doClick(\'openpdf@@@'+ pdfPath+ '@@@' +  uploadId+ '@@@' + val2.pageNo +'@@@' + moment(val2.date).format('MMMM Do YYYY') + '@@@' + val2.title  + '@@@' + $('.FindBox :selected').text() + '\');">';
                                         str +="<div id='SearchText' class='SearchText'><b>Found on page no. "+val2.pageNo+" in text: </b>"+val2.text+" </div>";
                                         str +="</div>";
                                         
                                         //                                         str +="<div id='searchresult' class='searchresult'>";
                                         //                                         str +="<div id='SearchText' class='SearchText'><b>Found on page no. "+val2.pageNo+" in text: </b>"+val2.text+" </div>";
                                         //                                         str +="</div>";
                                         });
                                  
                                  str +='</div></div>';
                                  counter++;
                                  //$('#CollapsiblePanel1 > div').html(titleName);
                                  });
                           });
                    str =' <div id="Accordion1" class="Accordion" tabindex="0">'+str+'</div>';
                    
                    $('#searchBody').html(str);
                    
                    if( $("#searchtxt").val().toLowerCase().indexOf(' and ')> -1 || $("#searchtxt").val().toLowerCase().indexOf(' or ')> -1 ){
                        
                        var arrOfSearchKeyWords;
                        if($("#searchtxt").val().indexOf(' and ')>-1){
                            arrOfSearchKeyWords=$("#searchtxt").val().toLowerCase().split(' and ');
                        }else{
                            arrOfSearchKeyWords=$("#searchtxt").val().toLowerCase().split(' or ');
                        }
                        
                        //Process the text
                        //var mySearchText = $("#searchtxt").val().toLowerCase().split('and')[0];
                        //var myFoundText = data[0][0][key].text;
                        var newText = highlightSearchTerms(arrOfSearchKeyWords[0], true);
                         var newText1 = highlightSearchTerms(arrOfSearchKeyWords[1], true);
                    }else{
                    //Process the text
                    var mySearchText = $("#searchtxt").val();
                    //var myFoundText = data[0][0][key].text;
                    var newText = highlightSearchTerms(mySearchText, true);
                    }
                    Accordion1 = new Spry.Widget.Accordion("Accordion1");
                }
                */
                function loadData(data) {
                    //var titleName='';
                    var str="";
                    var m = { 0: 'JAN', 1: 'FEB', 2: 'MAR', 3: 'APR', 4: 'MAY', 5: 'JUN', 6: 'JUL', 7: 'AUG', 8: 'SEP', 9: 'OCT', 10: 'NOV', 11: 'DEC' };
                    
                    //alert("The current month is " + monthNames[d.getMonth()]);
                    $.each(data, function(key,val){
                           $.each(val, function(key1,val1){
                                  var counter=1;
                                  // style='background-color:#FFC;
                                  date = moment(val1[0].date, "YYYYMMDD");
                                  str +="<div class='AccordionPanel'>";
                                  str +="<div class='AccordionPanelTab'>"+val1[0].title+" <span class='resultsfoundtxt'>("+val1.length+" Results Found)</span><div class='CalendarWrapper'>";
                                  str +="<div class='SCalyear'>"+date.year()+"</div><div class='SCaldate'>"+date.date()+"</div><div class='SCalmonth'>"+m[date._d.getMonth()]+"</div></div></div>";
                                  
                                  str +="<div class='AccordionPanelContent'>";
                                  $.each(val1, function(key2,val2){
                                         var pdfPath = val2.path;
                                         var x = pdfPath.split("\\");
                                         var pdfName = x[x.length - 1];
                                         var date = val2.date;
                                         date = moment(date, "YYYYMMDD");
                                         var uploadId = val2.ID;
                                         //alert(counter);
                                         //alert(val1.length);
                                         if(counter==val1.length){
                                         str +='<div id="searchresult" class="searchresultlast" onclick="doClick(\'openpdf@@@'+ pdfPath+ '@@@' +  uploadId+ '@@@' + val2.pageNo +'@@@' + moment(val2.date).format('MMMM Do YYYY') + '@@@' + val2.title  + '@@@' + $('.FindBox :selected').text() + '\');">';
                                         str +="<div id='SearchText' class='SearchText'><b>Found on page no. "+val2.pageNo+" in text: </b>"+val2.text+" </div>";
                                         
                                         }
                                         else{
                                         str +='<div id="searchresult" class="searchresult" onclick="doClick(\'openpdf@@@'+ pdfPath+ '@@@' +  uploadId+ '@@@' + val2.pageNo +'@@@' + moment(val2.date).format('MMMM Do YYYY') + '@@@' + val2.title  + '@@@' + $('.FindBox :selected').text() + '\');">';
                                         str +="<div id='SearchText' class='SearchText'><b>Found on page no. "+val2.pageNo+" in text: </b>"+val2.text+" </div>";
                                         
                                         }
                                         str +="</div>";
                                         counter++;
                                         
                                         });
                                  str +='</div></div>';
                                  
                                  //$('#CollapsiblePanel1 > div').html(titleName);
                                  });
                           });
                    str =' <div id="Accordion1" class="Accordion" tabindex="0">'+str+'</div>';
                    
                    $('#searchBody').html(str);
                    if( $("#searchtxt").val().toLowerCase().indexOf(' and ')> -1 || $("#searchtxt").val().toLowerCase().indexOf(' or ')> -1 ){
                        
                        var arrOfSearchKeyWords;
                        if($("#searchtxt").val().indexOf(' and ')>-1){
                            arrOfSearchKeyWords=$("#searchtxt").val().toLowerCase().split(' and ');
                        }else{
                            arrOfSearchKeyWords=$("#searchtxt").val().toLowerCase().split(' or ');
                        }
                        
                        //Process the text
                        //var mySearchText = $("#searchtxt").val().toLowerCase().split('and')[0];
                        //var myFoundText = data[0][0][key].text;
                        var newText = highlightSearchTerms(arrOfSearchKeyWords[0], true);
                        var newText1 = highlightSearchTerms(arrOfSearchKeyWords[1], true);
                    }else{
                        //Process the text
                        var mySearchText = $("#searchtxt").val();
                        //var myFoundText = data[0][0][key].text;
                        var newText = highlightSearchTerms(mySearchText, true);
                    }
                    Accordion1 = new Spry.Widget.Accordion("Accordion1");
                }
                
                function doHighlight(bodyText, searchTerm, highlightStartTag, highlightEndTag) {
                    // the highlightStartTag and highlightEndTag parameters are optional
                    if ((!highlightStartTag) || (!highlightEndTag)) {
                        highlightStartTag = "<b><font style='background-color:#FF0; padding:2px;'>";
                        highlightEndTag = "</font></b>";
                    }
                    
                    var newText = "";
                    var i = -1;
                    var lcSearchTerm = searchTerm.toLowerCase();
                    var lcBodyText = bodyText.toLowerCase();
                    
                    while (bodyText.length > 0) {
                        i = lcBodyText.indexOf(lcSearchTerm, i+1);
                        if (i < 0) {
                            newText += bodyText;
                            bodyText = "";
                        } else {
                            // skip anything inside an HTML tag
                            if (bodyText.lastIndexOf(">", i) >= bodyText.lastIndexOf("<", i)) {
                                // skip anything inside a <script> block
                                if (lcBodyText.lastIndexOf("/script>", i) >= lcBodyText.lastIndexOf("<script", i)) {
                                    newText += bodyText.substring(0, i) + highlightStartTag + bodyText.substr(i, searchTerm.length) + highlightEndTag;
                                    bodyText = bodyText.substr(i + searchTerm.length);
                                    lcBodyText = bodyText.toLowerCase();
                                    i = -1;
                                }
                            }
                        }
                    }
                    return newText;
                }
                
                function highlightSearchTerms(searchText, treatAsPhrase, warnOnFailure, highlightStartTag, highlightEndTag) {
                    if (treatAsPhrase) {
                        searchArray = [searchText];
                    } else {
                        searchArray = searchText.split(" ");
                    }
                    if (!document.body || typeof(document.body.innerHTML) == "undefined") {
                        if (warnOnFailure) {
                            alert("Sorry, for some reason the text of this page is unavailable. Searching will not work.");
                        }
                        return false;
                    }
                    
                    var bodyText = document.body.innerHTML;
                    for (var i = 0; i < searchArray.length; i++) {
                        bodyText = doHighlight(bodyText, searchArray[i], highlightStartTag, highlightEndTag);
                    }
                    
                    document.body.innerHTML = bodyText;
                    return true;
                }
                
                function doClick(refId) {
                    //window.location.replace(refId);
                    window.location.href="@@@"+refId;
                }
                </script>
            <style type="text/css">
                
                .downloadBox {
                    width:237px;
                    height:70px;
                    position:fixed;
                    left:50%; /* centers the loading animation horizontally one the screen */
                    top:50%; /* centers the loading animation vertically one the screen */
                    margin:-100px 0 0 -100px; /* is width and height divided by two */
                    background-color: #CCC;
                    display:none;
                    padding:0 30px 30px 30px;
                    border-radius:10px;
                    box-shadow:0 5px 5px #999;
                    border:1px solid #666;
                }
                .pbar .ui-progressbar-value {
                    display:block !important
                }
                .pbar {
                    overflow: hidden;
                    height:20px;
                    background-color:white;
                    background-repeat:no-repeat;
                    background-position:center;
                    padding:0px;
                    border-radius:5px;
                }
                .DownloadName{
                    font-family:Arial, Helvetica, sans-serif;
                    font-size:16px;
                    color:#333;
                    text-align:center;
                    width:240px;
                    height:20px;
                    margin-top:10px;
                    font-weight:bold;
                    text-shadow:0 1px 1px #ffffff;
                    margin-bottom:10px;
                    
                }
                
                .DownloadPercent{
                    font-family:Arial, Helvetica, sans-serif;
                    font-size:14px;
                    color:#333;
                    text-align:center;
                    width:240px;
                    height:20px;
                    margin-top:10px;
                    font-weight:bold;
                    text-shadow:0 1px 1px #ffffff;
                    
                }
                .cancelDownload{
                    width:24px;
                    height:24px;
                    float:right;
                    margin-right: -27px;
                    margin-top: 3px;
                }
                #upProgress{
                    display: none;
                    position: fixed;
                    top: 0%;
                    left: 0%;
                    width: 100%;
                    height: 100%;
                    background-color: #F9F9F9;
                    z-index:1001;
                    -moz-opacity: 0.8;
                    opacity:.80;
                    filter: alpha(opacity=80);
                    padding-top: 20%;
                    padding-left: 40%;
                }
                .percent {position:relative;text-align: right;}
                .elapsed {position:relative;text-align: right;}
                </style>
            </head>
    <body >
        <div id="searchMain" class="searchMain">
            <div class="searchtop">
                <table width="938">
                    <tr style="font-family:Arial;">
                        <td width="412" height="48" style="padding-top: 5px;"> <input type="text" class="textsearch" id="searchtxt"  onKeyPress="triggerClick(event);">
                        </input>
                            <div id="searchbtn" class="searchbutton" onClick="searchClick()"></div></td>
                        <td width="278"> <div style="font-size:12px">Find in </div>
                            <!--<div class="FindBox">Agenda</div>-->
                            <select class="FindBox">
                                <!--<option>Just Once</option>-->
                            </select> </td>
                        <td width="123"> <div style="font-size:12px">From </div>
                            <div class="FromBox" onClick="doClick('FromBox');"></div></td>
                        <td width="105"> <div style="font-size:12px">To </div>
                            <div class="ToBox" onClick="doClick('ToBox');"></div></td>
                    </tr>
                </table>
            </div>
            <div id="searchBody" class="searchbody">
                
            </div>
        </div>
        <div id="info" style="display:none" json="" slot="" myDiv=""></div>
        <div id="search" style="display:none" find="5" from="20130601" to="20130630"></div>
        <div class="overlay" id="upProgress" style="display: none;">
            <div class="downloadBox">
            <div class="cancelDownload" onClick="cancelDownload()"><img src="resources/images/dnpdel.png" width="24" height="24" /></div>
            <div id="progress">
                <div class="DownloadName"></div>
                <div class="percent"></div>
                <div class="pbar"><img src="resources/images/barloader.gif" width="235" height="19" /></div>
                <div class="elapsed"></div>
                <div class="DownloadPercent"></div> 
            </div> 
        </div>
        </div>
        
    </body>
</html>
